<footer class="bg-neutral-200 text-neutral-500 dark:bg-neutral-900 dark:text-neutral-500">
  <div class="container mx-auto flex max-w-7xl flex-row px-6 py-4 text-sm lg:px-8 xl:px-12">
    <div class="flex-1">
      <p>
        {{- with .Site.Copyright -}}
          {{ . | emojify | markdownify }}
        {{- else -}}
          &copy;
          {{ now.Format "2006" }}
          {{ or .Site.Params.author.name .Site.Title }}
        {{- end -}}
      </p>
    </div>
    <div class="flex-1">
      {{- if templates.Exists "partials/extend-footer.html" }}
        {{ partialCached "extend-footer.html" . }}
      {{- end }}
    </div>
  </div>
</footer>

{{- if .Page.HasShortcode "mermaid" }}
  <script type="module">
    import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@9/dist/mermaid.esm.min.mjs";
    if (
      localStorage.theme === "dark" ||
      (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      mermaid.initialize({ startOnLoad: true, theme: "dark" });
    } else {
      mermaid.initialize({ startOnLoad: true, theme: "neutral" });
    }
  </script>
{{- end }}
